@charset "utf-8";

@media screen and (max-width: 1000px) {
  .head-gradation {
    display: none;
  }

  .background-Img {
    height: 600px;
    padding-top: 180px;
  }

  .flex {
    width: 95%;
  }

  .fa-chevron-circle-down {
    margin-top: 80px;
  }

  .flow-flex {
    flex-wrap: wrap;
    width: 90%;
  }

  .flow-inner {
    width: 45%;
    margin: 10px auto;
  }

  .flow-inner h3 {
    text-align: center;
  }

  .baloon {
    padding: 5%;
  }

  .baloon h3 {
    font-size: 0.96rem;
  }

  .baloon p {
    line-height: 130%;
  }
  
  .form-flex {
    flex-direction: column;
  }

  .form-item {
    width: 400px;
  }

  .form-item:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 670px) {
  nav {
    display: none;
  }

  .posi-p {
    font-size: 0.9rem;
    letter-spacing: normal;
  }

  .flex {
    width: 90%;
    text-align: center;
  }

  .ara {
    float: none;
    font-size: 2.1rem;
    margin-bottom: 10px;
  }

  .flex-inner1 {
    margin: 0;
  }

  .flex-p1, .flex-p2, .flex-p3 {
    font-size: 0.7rem;
  }

  .speech, .pa {
    left: 5%;
  }

  .border2 {
    font-size: 0.96rem;
  }

  .pu {
    margin-bottom: 20px;
  }

  .yoko {
    flex-direction: column;
    margin-bottom: 50px;
  }

  .yoko-inner1, .yoko-inner2, .yoko-inner3 {
    margin: 0 auto;
    width: 81%;
  }

  .yoko-inner1, .yoko-inner2 {
    margin-bottom: 20px;
  }

  .yoko-head {
    text-align: center;
  }
}







